<div class = "container mt-5">
<form>
  <h3>Fill this form</h3>
<hr>
  <div class = "row">
    <div class = "col-sm-8">
  <div class="form-group">
    <label for="exampleInputadm_name">Customer_Name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Customer_Name">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  </div>
</div>
<div class = "row">
  <div class = "col-sm-8">
  <div class="form-group">
    <label for="exampleInputPassword1">Email</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Email">
  </div>
</div>
</div>
<div class = "row">
  <div class = "col-sm-8">
  <div class="form-group">
    <label for="exampleInputPassword1">Food_Name</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Food_Name">
  </div>
</div>
</div>
<div class = "row">
  <div class = "col-sm-8">
  <div class="form-group">
    <label for="exampleInputPassword1">Phone_No</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Phone_No">
  </div>
</div>
</div>

<br>
  <button type="submit" class="btn btn-primary">Send</button>

</form>
</div>
